body,
html {
  font-family: 'Poppins', sans-serif !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.user {
    font-weight: 500;
    font-size: 20px;
    color: white;
    justify-content: end;
}

.fadein-page {
    animation: fade-in 1.2s;
}
  
@keyframes fade-in {
from {
    opacity: 0;
}
to {
    opacity: 100;
}
}