
.buttonStyles{
  text-align: right;
}

.clearFilterStyle{
  position: absolute;
  display: flex;
  padding: 6px;
}

.titleCenter{
  text-align: center;
  padding: 10px;
}
.clearfilterStyle{

  border: solid 1px #3366CC;
  border-radius: 10px;
  padding: 8px;

}
  
.search-button {
  border-radius: 0 7px 7px 0; /* Redondea las esquinas derecha del botón */
  border-left: 0; /* Elimina el borde izquierdo para que se una con el campo de entrada */
  background: #6366f1;
}

.p-column-filter-menu-button {
  background-color: #f9fafb; /* Color de fondo del filtro */
  border-radius: 5px; /* Borde redondeado */
  padding: 1px; /* Relleno */
  display: flex; /* Usa flexbox para alinear el contenido */
  align-items: center; /* Alinea el contenido verticalmente */
  justify-content: center; /* Alinea el contenido horizontalmente */
}

.p-column-filter .pi {
  font-family: 'PrimeIcons'; /* Asegúrate de que la fuente es PrimeIcons */
  font-size: 1rem; /* Tamaño del icono */
  color: #298368; /* Color del icono (ajusta según tu diseño) */
}

.p-button-sm{
  background-color: #3366CC; /* Color de fondo del filtro */ 
  border-radius: 5px; /* Borde redondeado */
  color: white;
}

.p-column-filter-matchmode-dropdown{
  display: none;
}